.container {
  display: flex;
  margin: 1% 2%;
}

.title {
  font-size: 2em;
}

.todoTitle {
  background-color: #457b9d;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.input {
  width: 70%;
}

.completeDiv {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}