.taskListContainer {
  width: 75vw;
  height: 95vh;
  max-height: 730px;
  overflow: hidden;
  overflow-y: scroll;
  margin: auto;
}

.title {
  font-size: 2em;
}

.todoTitle {
  background-color: #457b9d;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.input {
  width: 70%;
  margin-left: 5px;
}

.taskDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
}

.taskText{
  display: flex;
  align-items: center;
}

.taskIcons {
  display: flex;
  align-items: center;
}

.completeDiv {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

#completed-tasks-icon {
  color: royalblue;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
}

.taskHeaders{
  display: flex;
  justify-content: space-between;
  width: 55vw;
}

.taskCheckbox{
  font-size: 20px;
  margin-top: 20px;
}

#taskDate{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 25px;
}

@media screen and (max-width: 600px) {
  .taskListContainer {
    width: 100vw;
    height: 100vh;
    max-height: 650px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .input {
    width: 78%;
  }

  #completed-tasks-icon {
    font-size: 25px;
    margin: 5px;
  }

  .completeDiv {
    font-size: 14px;
    word-wrap: break-word;
  }

  .title {
    font-size: 1.5em;
    margin-left: 5px;
  }

  .todoTitle {
    padding: 2px;
  }

  .taskDiv {
    width: 90vw;
  }

  .taskIcons {
    margin-top: 5px;
  }

  .taskCheckbox {
    margin-left: 5px;
    font-size: 14px;
    word-wrap: break-word;
  }

  #taskDate{
    font-size: 14px;
    margin-left: 10px;
  }
}